.r-advantages{
  padding: 40px 100px;
  background-color: #f2f5f9;

  &__container{}

  &__list{
    display: flex;
    max-width: 865px;
  }

  &__item{
    max-width: 265px;

    & + &{
      margin-left: 30px;
    }
  }

  &__item-img{}

  &__item-title{
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: #29394b;
  }

  &__item-text{
    font-size: 14px;
    line-height: 1.3571;
    color: #65778a;
  }
}