.r-automatization{
  height: 600px;
  padding: 0 35px 0 45px;

  &__container{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 1000px;
  }

  &__title{
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #19120f;
  }

  &__text{
    margin-top: 10px;
    max-width: 45%;
    font-size: 18px;
    line-height: 1.3888;
    color: #877f6b;
  }

  &__illustration{
    position: absolute;
    right: 50px;
    max-width: 38%;
    font-size: 0;
  }

  &__img-wrap{
    position: relative;
    z-index: 2;

    &::before{
      content: '';
      position: absolute;
      top: -15%;
      left: -6%;
      z-index: -1;
      padding-left: 118%;
      padding-top: 118%;
      border-radius: 50%;
      background-color: #f8d168;
    }
  }

  &__img{
    max-height: 350px;
    max-width: 100%;
  }

  &__btn-wrap{
    margin-top: 20px;
  }

  &__btn{
    display: inline-block;
    position: relative;
    padding: 12px 43px;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(74,185,232,1);
    background: -moz-linear-gradient(top, rgba(74,185,232,1) 0%, rgba(74,146,228,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,185,232,1)), color-stop(100%, rgba(74,146,228,1)));
    background: -webkit-linear-gradient(top, rgba(74,185,232,1) 0%, rgba(74,146,228,1) 100%);
    background: -o-linear-gradient(top, rgba(74,185,232,1) 0%, rgba(74,146,228,1) 100%);
    background: -ms-linear-gradient(top, rgba(74,185,232,1) 0%, rgba(74,146,228,1) 100%);
    background: linear-gradient(to bottom, rgba(74,185,232,1) 0%, rgba(74,146,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a92e4', endColorstr='#4ab9e8', GradientType=0 );
    box-shadow: 0 .15rem .075rem -.125rem rgba(41, 95, 154,.5), 0 1px 3px rgba(0,0,0,.08);
    transition: .2s;

    &:hover{
      transform: translateY(-.25rem);
      box-shadow: 0 .75rem 1rem -.25rem rgba(41, 95, 154,.5), 0 .25rem .025rem -.25rem rgba(0,0,0,.1);
    }
  }
}